each component, compIndex in components
    | #{component.componentName}(
    if component.props
        each prop, propIndex in component.props
            if component.props.length > 1 && propIndex !== 0
                | #{" ".repeat(component.componentName.length + 1)}
            | #{prop.name}: #{prop.type}
            if propIndex !== (component.props.length - 1)
                | ,
                |
    | )
    if compIndex !== (components.length - 1)
        |
        |
        |